## Modified 17-05-11
import("faraway")
import("nnet")
import("parallel")
export(GroupFusedMulti)
export(GFMR.cv)
export(predict.gfmR)
S3method(print,gfmR)
S3method(predict,gfmR)
S3method(print, gfmR.cv)
  
  
  ### Need to add something here
